<div class="d-flex justify-content-center">
    <div class="d-flex justify-content-center">
        <div class="app-ace-editor" #editor style="width: 90vw; height: 90vh;"></div>
    </div>
    <div class="d-flex flex-column">
        <button type="button" class="btn btn-info btn-sm bi bi-file-arrow-up                                                                                                                                                                                                                                                                                                                                                                                                                                              " (click)="guardarCambios()"></button>
        <div style="height: 1vh;"></div>
        <button type="button" class="btn btn-info btn-sm bi bi-download" (click)="writeFile()"></button>
        <div style="height: 1vh;"></div>
        <button type="button" class="btn btn-danger btn-sm bi bi-x-lg" (click)="autoDestruccion()"></button>
    </div>
</div>